    <section class="about layout-2d">

      <div class="column-2d-l separator"></div>

      <div class="column-2d-s typo-l">
        <h3>About Me</h3>
      </div>

      <div class="column-2d-m typo-l">
        <p><strong>Andrea Buran</strong>, at your service.</p>
        <p>I am a well-rounded <strong>Senior Designer</strong> with a focus on user experience and interface design *. I conceive and craft digital products and services that put people first.</p>
      </div>

      <div class="column-2d-l">
        <div class="layout-1d-rtl">
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>* But also passionate aboute <strong>coding</strong>, <strong>prototyping</strong> and <strong>front end web development</strong>.</p>
          </div>
        </div>
      </div>

    </section>