    <div class="canvas-about">
      <section class="about layout-2d words-on-dark">

        <!--<div class="column-2d-l separator"></div>-->

        <div class="column-2d-s-1-about typo-s serif">
          <div class="separator"></div>
          <p>I work as a <strong>Product Manager</strong> +&nbsp;<strong>Designer</strong> at&nbsp;<a href="https://kolayik.com/" target="_blank" title="Kolay’s Site">Kolay</a>, in Istanbul.</p>
        </div>

        <div class="column-2d-s-2-about typo-s serif">
          <div class="separator"></div>
          <p>If you feel like having a&nbsp;chat, write to me at <span class="envelope"><noscript>turn on Javascript to see my e-mail address</noscript></span>.</p>
        </div>

        <div class="column-2d-s-3-about typo-s serif">
          <div class="separator"></div>
          <div class="links layout-1d-ltr">
            <a class="element-1d link" href="https://www.linkedin.com/in/andreaburan" target="_blank" title="LinkedIn">
              <div class="link-icon">
                <!-- style="background-color:#24292e;" -->
                <div style="background-image:url('{{ site.baseurl }}/media/links/linkedin_00.svg?v={{site.version}}')"><span>LinkedIn</span></div>
              </div>
            </a>
            <a class=" link" href="https://github.com/ranbureand" target="_blank" title="GitHub">
              <div class="link-icon">
                <!-- style="background-color:#24292e;" -->
                <div style="background-image:url('{{ site.baseurl }}/media/links/github_00.svg?v={{site.version}}')"><span>GitHub</span></div>
              </div>
            </a>
            <a class="element-1d link" href="https://vimeo.com/andreaburan" target="_blank" title="Vimeo">
              <div class="link-icon">
                <!-- style="background-color:#1AB7EA;" -->
                <div style="background-image:url('{{ site.baseurl }}/media/links/vimeo_00.svg?v={{site.version}}')"><span>Vimeo</span></div>
              </div>
            </a>
          </div>
        </div>

        <div class="column-2d-s-4-about typo-s serif">
          <div class="separator"></div>
          <div class="button-m">
            <a href="{{ site.baseurl }}/media/documents/andrea_buran_curriculum_vitae_00.pdf" target="_blank" title="Andrea Buran’s Curriculum Vitae"><span>Download </span>Curriculum Vitae</a>
          </div>
        </div>

        <!--<div class="column-2d-l typo-s serif">
          <img src="{{ site.baseurl }}/media/sundries/avatar_00.jpeg" alt="">
        </div>-->
      </section>
    </div>
