        <aside class="appendix typo-s">
          <dl>
            {% if page.tags %}<dt>tags</dt><dd>{% for tag in page.tags %}{% if forloop.last == true %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}</dd>{% endif %}
            {% if page.roles %}<dt>role</dt><dd>{% for roles in page.roles %}{% if forloop.last == true %}{{ roles }}{% else %}{{ roles }}, {% endif %}{% endfor %}</dd>{% endif %}
            {% if page.responsibilities %}<dt>responsibilities</dt><dd>{% for responsibilities in page.responsibilities %}{% if forloop.last == true %}{{ responsibilities }}{% else %}{{ responsibilities }}, {% endif %}{% endfor %}</dd>{% endif %}
            {% if page.links %}<dt>links</dt><dd>{{ page.links | markdownify }}</dd>{% endif %}
          </dl>
        </aside>