    <section class="contacts layout-2d">

      <div class="column-2d-l separator"></div>

      <div class="column-2d-s typo-l">
        <h3>Contact Me</h3>
      </div>

      <div class="column-2d-m typo-l">
        <p>Feel free to drop me a line at <strong>hello@andreaburan.com</strong>.</p>
      </div>

      <div class="column-2d-l">
        <div class="layout-1d-rtl">
          <div class="link element-1d">
            <a class="entity" href="https://www.linkedin.com/in/andreaburan" target="_blank" title="LinkedIn">
              <span class="icon" style="background-color:#0077b5;background-image:url('{{ site.baseurl }}/media/links/linkedin_00.svg')"></span>
              <div class="title">LinkedIn</div>
            </a>
          </div>
          <div class="link element-1d">
            <a class="entity" href="https://github.com/ranbureand" target="_blank" title="GitHub">
              <span class="icon" style="background-color:#f0f0f0;background-image:url('{{ site.baseurl }}/media/links/github_00.svg')"></span>
              <div class="title">GitHub</div>
            </a>
          </div>
          <div class="link element-1d">
            <a class="entity" href="https://vimeo.com/andreaburan" target="_blank" title="LinkedIn">
              <span class="icon" style="background-color:#1ab7ea;background-image:url('{{ site.baseurl }}/media/links/vimeo_00.svg')"></span>
              <div class="title">Vimeo</div>
            </a>
          </div>
          <div class="link element-1d">
            <a class="entity" href="https://www.behance.net/andreaburan" target="_blank" title="LinkedIn">
              <span class="icon" style="background-color:#1769ff;background-image:url('{{ site.baseurl }}/media/links/behance_00.svg')"></span>
              <div class="title">Behance</div>
            </a>
          </div>
        </div>
      </div>
      
    </section>