      <section class="details layout-2d">

        <div class="column-2d-s typo-l">
          <h3>About Me</h3>
        </div>

        <div class="column-2d-m typo-l">
          <p><strong>Andrea Buran</strong>, at your service.</p>
          <p>I am a well-rounded <strong>Designer</strong> focused on user experience and interface design. I conceive and craft digital products and services that put people first.</p>
          <p>Currently I am the <strong>Digital Design Director</strong> at <strong>I-AM Istanbul</strong>, formerly designer at <strong>Fjord Istanbul</strong> and <strong>Wolfgang Scheppe Associates</strong>.</p>
        </div>

      </section>