      <div class="canvas-details">
        <section class="details layout-2d">

          <div class="column-2d-l separator"></div>

          <div class="column-2d-s typo-l">
            <h3>Contacts</h3>
          </div>

          <!--<div class="column-2d-m typo-l">
            {% if page.layout != 'base' %}
              <p><strong>Andrea Buran</strong>, at your service.</p>
              <p>I am a well-rounded <strong>Designer</strong> focused on user experience and interface design. I conceive and craft digital products and services that put people first.</p>
              <p>Currently I am the <strong>Digital Design Director</strong> at <strong>I-AM Istanbul</strong>, formerly designer at <strong>Fjord Istanbul</strong> and <strong>Wolfgang Scheppe Associates</strong>.</p>
            {% endif %}
          </div>-->

          <div class="column-2d-m typo-l">
            <p>If you feel like getting in touch with me and having a chat, do drop me a line at <strong class="envelope"><noscript>Turn on Javascript to see my e-mail address</noscript></strong>.</p>
          </div>

          <div class="column-2d-l">
            <ul class="links layout-1d-rtl">
              <li class="element-1d">
                <a class="link" href="{{ site.baseurl }}/media/documents/andrea_buran_curriculum_vitae_00.pdf" target="_blank" title="Andrea Buran’s Curriculum Vitae">
                  <div class="link-icon">
                    <div style="background-color:#F5455C;background-image:url('{{ site.baseurl }}/media/links/curriculum_vitae_00.svg')"></div>
                  </div>
                  <div class="link-title">Curriculum Vitae</div>
                </a>
              </li>
              <li class="element-1d">
                <a class="link" href="https://www.linkedin.com/in/andreaburan" target="_blank" title="LinkedIn">
                  <div class="link-icon">
                    <div style="background-color:#0077B5;background-image:url('{{ site.baseurl }}/media/links/linkedin_00.svg')"></div>
                  </div>
                  <div class="link-title">LinkedIn</div>
                </a>
              </li>
              <li class="element-1d">
                <a class="link" href="https://github.com/ranbureand" target="_blank" title="GitHub">
                  <div class="link-icon">
                    <div style="background-color:#FCFCFC;background-image:url('{{ site.baseurl }}/media/links/github_00.svg')"></div>
                  </div>
                  <div class="link-title">GitHub</div>
                </a>
              </li>
              <li class="element-1d">
                <a class="link" href="https://vimeo.com/andreaburan" target="_blank" title="Vimeo">
                  <div class="link-icon">
                    <div style="background-color:#1AB7EA;background-image:url('{{ site.baseurl }}/media/links/vimeo_00.svg')"></div>
                  </div>
                  <div class="link-title">Vimeo</div>
                </a>
              </li>
              <li class="element-1d">
                <a class="link" id="link-email" href="#" target="_blank" title="Andrea Buran’s E-mail">
                  <div class="link-icon">
                    <div style="background-color:#F5455C;background-image:url('{{ site.baseurl }}/media/links/email_00.svg')"></div>
                  </div>
                  <div class="link-title">E-mail</div>
                </a>
              </li>
              <!--<li class="element-1d">
                <a class="link" href="https://www.behance.net/andreaburan" target="_blank" title="Behance">
                  <div class="link-icon">
                    <div style="background-color:#1769ff;background-image:url('{{ site.baseurl }}/media/links/behance_00.svg')"></div>
                  </div>
                  <div class="link-title">Behance</div>
                </a>
              </li>-->
            </ul>
          </div>
          
        </section>
      </div>