        {%- assign categories = site.categories | sort: 'order' -%}

        <nav class="column-2d-l">
          <ul class="filters layout-1d-rtl">
            {%- for category in categories %}
            <li class="filter element-1d
              {%- if page.url == '/' and category.category == 'Favorite' %} current{% endif %}
              {%- if page.collection == 'projects' and category.category == 'Favorite' %} current{% endif %}
              {%- if page.collection == 'categories' and category.title == page.title  %} current{% endif %}">
              <a href="{{ category.url | prepend: site.baseurl }}">{{ category.category }}</a>
            </li>
            {%- endfor %}
          </ul>
        </nav>