    <div class="canvas-header {% if page.mode == 'dark' %}on-dark{% else %}on-light{% endif %}">
      <div class="buffer-header">
        <header class="header {% if page.mode == 'dark' %}words-on-dark{% else %}words-on-light{% endif %} layout-2d">
          <h1 class="header-title"><a href="{{ site.baseurl }}/"><span class="hidden">Andrea Buran’s</span> Sitefolio<sup class="color-1">5.0</sup></a></h1>
          <ul class="header-navigation">
            <li{% if page.title == 'All posts' or page.collection == 'posts' %} class="current"{% endif %}>
              <a href="{{ site.baseurl }}/posts.html"><span class="hidden">All</span> Posts</a>
            </li>
            <li{% if page.collection == 'categories' or page.collection == 'projects' %} class="current"{% endif %}>
              <a href="{{ site.baseurl }}/projects/all.html"><span class="hidden">All</span> Projects</a>
            </li>
          </ul>
          <!--<div class="header-motto">Time in Istanbul<span class="color-1">:</span> <span id="time">00:00</span></div>-->
        </header>
      </div>
    </div>