    <div class="canvas-header foreground">
      <div class="buffer-header">
        <header class="header foreground layout-2d">
          <h1 class="header-title"><a href="{{ site.baseurl }}/">Andrea Buran<span class="hidden">’s Site</span> <sup class="color-1">5.0</sup></a></h1>
          <ul class="header-navigation">
            <li{% if page.title == 'All posts' or page.collection == 'posts' %} class="current"{% endif %}>
              <a href="{{ site.baseurl }}/posts/index.html"><span class="hidden">All</span> Posts</a>
            </li>
            <li{% if page.collection == 'categories' or page.collection == 'projects' %} class="current"{% endif %}>
              <a href="{{ site.baseurl }}/projects/all.html"><span class="hidden">All</span> Proj<span class="hidden">ects</span></a>
            </li>
            <li>
              <a href="#" id="mode-switch" onclick="toggleModeDisplay(event)"><span class="screen-reader-only">Color mode toggle</span></a>
            </li>
          </ul>
          {%- comment %}
            <div class="header-motto">Time in Istanbul<span class="color-1">:</span> <span id="time">00:00</span></div>
          {%- endcomment %}
        </header>
      </div>
    </div>