    <!-- Open Graph protocol -->
    <meta property="og:title" content="
      {%- if page.title %}
        {{- page.title | markdownify | strip_html | escape | strip }} · {{ site.title | escape }}
      {%- else %}
        {{- site.title | escape }}
      {%- endif %}"/>
    <meta property="og:description" content="
      {%- if page.excerpt %}
        {{- page.excerpt | markdownify | strip_html | escape | strip }}
      {%- else %}
        {{- site.description | escape }}
      {%- endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ page.url | prepend: site.url }}"/>
    <meta property="og:image" content="
      {%- if page.layout == 'project' %}{{ site.url }}/media/projects-optimized/{{ page.title | strip_html | slugify: 'latin' }}/thumbnails/1440/{{ page.preview_image }}?v={{ site.version }}
      {%- else %}{{ site.url }}/media/sundries/cover/cover_00.jpg?v={{ site.version }}
      {%- endif %}"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:alt" content="
      {%- if page.excerpt %}
        {{- page.excerpt | strip_html | escape | strip }}
      {%- else %}
        {{- site.description | escape }}
      {%- endif %}"/>
    <meta property="og:image:width" content="
      {%- if page.layout == 'project' %}1440
      {%- else %}640
      {%- endif %}"/>
    <meta property="og:image:height" content="
      {%- if page.layout == 'project' %}2160
      {%- else %}640
      {%- endif %}"/>