    <div class="canvas-portrait background">
      <div class="portrait layout-2d">

        <div class="column-2d-m-2 typo-m serif">
          <div class="figures">
            {% include image.html
                size="xl"
                h="1" w="1"
                path="sundries/portrait"
                src="portrait_00.jpg"
                alt="A portrait of Andrea Buran."
                caption="…."
                color="#ccc"
            %}
          </div>
        </div>

      </div>
    </div>