    <div class="canvas-posts background">
      <section class="posts layout-2d">

        <header class="posts-head column-2d-l typo-sl">
          {%- if page.name == '.html' %}
            <h2>{{ page.title }}</h2>
          {%- else %}
            <h2>Last posts</h2>
          {%- endif %}
        </header>

        <div class="column-2d-l separator"></div>

        {%- if page.name == '.html' %}
{% include posts-pagination-previews.html %}
        {%- else %}
{% include posts-previews.html postLimit = 8 %}
        {%- endif %}

      </section>
    </div>