      {%- assign projectList = site.projects | sort: 'order' | where: 'publish', 'yes' | where: 'categories', include.category -%}

      {% for project in projectList %}
         {% capture projectCount %} {{ projectCount | plus: 1 }} {% endcapture %}
      {% endfor %}

        <div class="column-2d-l">
          <ul class="previews layout-1d-rtl">
            {% for project in projectList reversed %}
            <li class="element-1d">
              <a class="preview{% if project.title == page.title %} current{% endif %}" href="{{ project.url | prepend: site.baseurl }}">
                <div class="preview-image"{% if project.preview_color %}style="background-color:{{ project.preview_color }};"{% endif %}>
                  <img src="{{ site.baseurl }}/media/previews/{{project.preview_image}}?v={{site.version}}" alt="“{{project.title}}” preview image." title="{{ project.title }}"/>
                </div>
                <div class="preview-title">{% if project.title_typeset %}{{ project.title_typeset }}{% else %}{{ project.title }}{% endif %}</div>
                <div class="preview-tags">{% for tag in project.tags %}{% if forloop.last == true %}{{tag}}{% else %}{{tag}}, {% endif %}{% endfor %}</div>
                <div class="preview-time">{{ project.time }}</div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
