      <div class="canvas-projects">
        <section class="projects layout-2d">

          <div class="column-2d-l separator"></div>

          <div class="column-2d-s typo-l">
            {% if page.layout == "categories" %}
              <h3>{{ page.title }}</h3>
            {% else %}
              <h3>Key Projects</h3>
            {% endif %}
          </div>

          <div class="column-2d-m typo-l">
            {% if page.layout == "categories" %}
              {{ page.content }}
            {% else %}
              <p>Here are few of my key, favorite commercial and non-commercial projects<sup class="color">&dagger;</sup>.</p>
              <p class="notation"><span class="color">&dagger;</span> Drop me a line for a look at my service and product design portfolio.</p>
            {% endif %}
          </div>

          {% if page.layout == "categories" %}
            {% include previews.html category=page.title %}
          {% else %}
            {% include previews.html category="Key" %}
          {% endif %}

          {% include filters.html %}

        </section>
      </div>