      {%- assign projectList = site.projects
        | sort: 'order'
        | where: 'published', true
        | where: 'categories', include.category
      %}
      {%- for project in projectList %}
         {%- capture projectCount %} {{ projectCount | plus: 1 }} {% endcapture %}
      {%- endfor %}

        <div class="column-2d-l">
          <ul class="projects-items layout-1d-rtl">
            {%- for project in projectList reversed %}
            {% include projects-item.html project=project %}
            {%- endfor %}
          </ul>
        </div>