      {%- assign projectList = site.projects | sort: 'order' | where: 'published', true | where: 'categories', include.category -%}

      {%- for project in projectList %}
         {%- capture projectCount %} {{ projectCount | plus: 1 }} {% endcapture %}
      {%- endfor %}

        <div class="column-2d-l">
          <ul class="project-previews layout-1d-rtl">
            {%- for project in projectList reversed %}
            <li class="element-1d">
              <a class="project-preview{% if project.title == page.title %} current{% endif %}" href="{{ project.url | prepend: site.baseurl }}">
                <div class="project-preview-image"{% if project.preview_color %} style="background-color:{{ project.preview_color }};"{% endif %}>
                  <img loading="lazy" src="{{ site.baseurl }}/media/projects-optimized/{{ project.slug }}/thumbnails/1440/{{ project.preview_image }}?v={{ site.version }}" alt="{{ project.title | strip_html }}" title="{{ project.title | strip_html }}"/>
                </div>
                <div class="project-preview-title">{{ project.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</div>
                <div class="project-preview-tags">{% for tag in project.tags %}{% if forloop.last == true %}{{tag}}{% else %}{{tag}}, {% endif %}{% endfor %}</div>
                <div class="project-preview-time">{{ project.time }}</div>
              </a>
            </li>
            {%- endfor %}
          </ul>
        </div>