      <div class="canvas-projects">
        <section class="projects layout-2d">

          {% assign categories = site.categories | where: 'category', 'Favorite' %}

          <div class="column-2d-s typo-l">
            {% if page.layout == "categories" %}
              <h3>{{ page.title }}</h3>
            {% else %}
              {% for category in categories %}
                <h3>{{ category.title }}</h3>
              {% endfor %}
            {% endif %}
          </div>

          <div class="column-2d-m typo-l">
            {% if page.layout == 'categories' %}
              {{ page.content }}
            {% else %}
              {% for category in categories %}
                {{ category.content | markdownify }}
              {% endfor %}
            {% endif %}
            {% if page.layout != 'base' %}
              <div class="balloon-light typo-s">
                {% include disclaimer.html %}
              </div>
            {% endif %}
          </div>

          {% if page.layout == 'categories' %}
            {% include previews.html category = page.category %}
          {% else %}
            {% include previews.html category = 'Favorite' %}
          {% endif %}

          {% include filters.html %}

        </section>
      </div>