    <section class="splash layout-2d">
      <div class="pitch column-2d-l typo-xl">
        <p>Andrea Buran, at your service.
      I am a well-rounded designer focused on user interface and <span>experience design</span>. I craft digital products and services that put people first.</p>
      </div>
      <div class="column-2d-l">
        <div class="layout-1d-rtl">
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>Currently <strong>Senior Visual Designer</strong> at <strong>I-AM Istanbul</strong>. Formerly <strong>Fjord Istanbul</strong>.</p>
          </div>
          <div class="piece element-1d typo-s">
            <p>* But also passionate aboute <strong>coding</strong>, <strong>prototyping</strong> and <strong>front end web development</strong>.</p>
          </div>
        </div>
      </div>
    </section>