    <div class="canvas-splash">
      <section class="splash layout-2d dark-words">

        <div class="pitch column-2d-l">
          <p><span class="color">Andrea Buran</span>, at&nbsp;your service.</p>
          <p>I&nbsp;am a <span class="color">Designer</span> with a&nbsp;focus on&nbsp;user experi&shy;ence and inter&shy;face design.</p>
          <p>I&nbsp;design and craft digital prod&shy;ucts and&nbsp;services that put people first.</p>
        </div>

      </section>
    </div>

    <div class="canvas-planet">
      <div class="planet"></div>
    </div>
