    <div class="canvas-splash">
      <section class="splash layout-2d">
        <div class="pitch column-2d-l">
          <p><span class="color">Andrea Buran</span>, at your service.</p>
          <p>I&nbsp;am a <span class="color">Designer</span> with a focus on <span class="asterisk">user experi&shy;ence and inter&shy;face design</span>.</p>
          <p>I&nbsp;conceive and craft digital prod&shy;ucts and services that put people first.</p>
        </div>
        <div class="column-2d-l">
          <div class="pieces layout-1d-rtl">
            <div class="piece element-1d typo-s">
              <p>Currently I am the <strong>Digital Design Director</strong> at <strong>I-AM Istanbul</strong>, formerly designer at <strong>Fjord</strong> and <strong>Wolfgang Scheppe Associates</strong>.</p>
            </div>
            <div class="piece element-1d typo-s">
              <p>If you feel like <strong>getting in touch</strong> with me and <strong>having a chat</strong>, do not hesitate to drop me a line at <strong class="envelope"><noscript>Turn on Javascript to see my e-mail address</noscript></strong>.</p>
            </div>
            <div class="piece element-1d typo-s">
              <p>I have been working with industry leaders in <strong>automotive</strong>, <strong>culture</strong>, <strong>e-commerce</strong>, <strong>finance</strong>, <strong>telco</strong>, <strong>tourism</strong> and <strong>travel</strong>.</p>
            </div>
            <div class="piece element-1d typo-s">
              <p><span class="color">*</span> I am much passionate about <strong>coding</strong>, <strong>prototyping</strong> and <strong>front end web development</strong> too.</p>
            </div>
          </div>
        </div>
      </section>
    </div>