---
layout: base
mode: dark
---

    <main class="canvas-projects background base-stalagmite">
      <section class="projects layout-2d">

        <header class="projects-head column-2d-l typo-sl serif">
          <h2><span class="color-1 sans">{{ page.title }}</span></h2>
          <p>As a <em>discreet</em> designer, I am happy to walk you through my most recent commercial projects upon request.</p>
        </header>

        <div class="column-2d-l separator"></div>

        {%- if page.exordium %}
        <div class="projects-exordium column-2d-m-2 typo-l">
          {{ page.exordium | markdownify | strip }}
        </div>
        {%- endif %}

        {% include projects-items.html category = page.category %}
        {% include projects-filters.html %}

      </section>
    </main>