---
layout: base
mode: dark
---

    {% if page.url == "/jots/index.html" or page.url == "/jots/1/index.html" %}
    {% include jot-splash.html %}
    {% endif %}

    <main class="canvas-jots foreground">
      <section class="jots layout-2d">

        <!--<header class="jots-head column-2d-l typo-sl">
          <h2>{{ page.title }}</h2>
        </header>

        <div class="column-2d-l separator"></div>-->

{% include jots-items.html %}
{% include jots-pagination.html %}

      </section>
    </main>

    <div class="canvas-jots-tags background base-stalagmite">
      <section class="jots-tags layout-2d">

{% include jots-tags.html %}

      </section>
    </div>

