---
layout: base
mode: light
---
      <div class="canvas-article foreground">
        <article class="article layout-2d">

          <header class="article-head column-2d-l typo-sl">
            <h1>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</h1>
          </header>

          <div class="column-2d-l separator"></div>

          {%- if page.time %}
          <div class="article-time column-2d-s-1 typo-l">
            {{ page.time | markdownify | strip }}
          </div>
          {%- endif %}

          {%- if page.exordium %}
          <div class="article-exordium column-2d-m-2 typo-l">
            {{ page.exordium | markdownify | strip }}
          </div>
          {%- endif %}

          <div class="article-body column-2d-m-2 typo-m">
            {{ content | strip }}
          </div>

        </article>
      </div>

{% include projects.html %}